/* @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap'); */
body{
    background:linear-gradient(rgb(218, 226, 212),rgb(228, 171, 214),pink);
}
.container {
    position: relative;
    top: 10rem;

    padding: 10px;
    border-radius: 1em;
    height: 400px;
    width: 400px;
    margin: auto;
    background-color: #191b28;
    box-shadow: rgba(2, 1, 3, 0.19) 5px 10px 20px, rgba(0, 0, 0, 0.23) 4px 10px 6px;
}
h3 {
    color: rgb(237, 232, 232);
    font-family: 'Orbitron', sans-serif;
    font-size: 2em;
    text-align: center;
    margin-top: 0;
}
/* // you can use advance css to less tha codes and to make mobile responsive also */
.screen {
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #988adb;
    
    border-radius: 5px;
    width: 98%;
    height: 12%;
    color: #dbe1e3;
    border: 3px solid white;
    border-radius: 3px;
    font-size: 1.4rem;
}
table {
    width: 100%;
    height: 60%;
    border-collapse: collapse;
    
}

input[type=button] {
    font-family: 'Orbitron', sans-serif;
    background-color: #d9262f;
    color: white;
    border: solid black 0.5px;
    width: 100%;
    border-radius: 10px;
    height: 70%;
    outline: none;
}
input:active[type=button] {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}
